body {
	background: url('../img/image.jpg') no-repeat center fixed;
  	background-size: cover;
  	color: #e0dcdc;
    font-family: 'Open Sans', sans-serif;
}

div.body-color {
	background: rgba(0,0,0,0.3) no-repeat center fixed;
	background-size: cover;
	min-height: 100vh;
}
.intel .form-control {

	color: #fff;
	background-color: rgba(0,0,0,0.25);
	border: none;
	border-radius: 1.25em;

}
.intel .input-group>.form-control:not(:last-child) {

	border-top-right-radius: 1.25em;
    border-bottom-right-radius: 1.25em;
}
.intel .form-control:focus{

	color: #fff;
	background-color: rgba(0,0,0,0.4);
	border: none;
	box-shadow: none;
	transition: background-color 0.30s ease-in-out;
}

.intel .input-group-prepend {
	margin-right: 0px;
}
.intel .input-group-focus .input-group-text {

	color: #fff;
	background-color: rgba(0,0,0,0.4);
  	border: none;
  	transition: background-color 0.30s ease-in-out;
}
.intel .form-control::placeholder {
	color: #fff;
}
.intel .input-group-text {
	color: #fff;
	background-color: rgba(0,0,0,0.25);
	border-radius: 1.25em;
	border: none;
}
.intel .input-group-text.is-valid, .intel.was-validated .input-group .input-group-text.valid {

	border: 1px solid #28a745;
	border-right-width: 0px;
}

.intel .form-control.is-valid, .intel.was-validated .input-group .form-control:valid {

	border: 1px solid #28a745;
	border-left-width: 0px;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-position: center right calc(.375em + .1875rem);
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
    box-shadow: none;
}


.intel .input-group-text.is-invalid {

	border: 1px solid #dc3545;
	border-right-width: 0px;
}
.intel .form-control.is-invalid, .intel.was-validated .input-group .form-control:invalid {

	border: 1px solid #dc3545;
	border-left-width: 0px;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
	background-repeat: no-repeat;
	background-position: center right calc(.375em + .1875rem);
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
    box-shadow: none;
}

.invalid-feedback {
  	display: none;
  	width: 100%;
  	margin-top: 0.1rem;
  	font-size: 70%;
  	color: #dc3545;

}

.intel .btn-primary {

	color: #fff;
	background-color: #f61026;
	border-radius: 1.25em;
	border: none;
	text-transform: uppercase;
	font-weight: 400;
}

.intel .btn-primary:hover {
	color: #fff;
  	background-color: #E21C2FFF;
  	border: none;
  	box-shadow: none;
}

.intel .btn-primary:focus {
  	color: #fff;
  	background-color: #E21C2FFF;
  	border: none;
  	box-shadow: none;
}

.intel .btn-primary.focus {
	color: #fff;
  	background-color: #E21C2FFF;
  	border: none;
  	box-shadow: none;
}

.intel .btn-primary:active {
	color: #fff;
  	background-color: #E21C2FFF;
  	border: none;
  	box-shadow: none;
}

.intel .btn-primary:not(:disabled):not(.disabled):active {
	color: #fff;
  	background-color: #E21C2FFF;
  	border: none;
  	box-shadow: none;
}

.intel .text-intel a {
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 700;
}

.intel .text-muted a:hover {

	color: #d1d1d1;
}